.app-alo{
    display: grid;
    grid-template-columns: 180px 1fr;

    width: 800px;
    height: 626px;

    /* border-radius: 20px; */
} 

.app-alo > * {
    display: grid;
}

.content{
    background-color: #222222;

    border-radius: 0px 20px 20px 0px;
    padding: 30px 50px;

    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 10px;

    position: relative;
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

h3{
    font-size: 18px;
    font-weight: 500;
}

header a{
    padding: 0;
    column-gap: 5px;
    justify-self: end;
}
