<div class="window">
    <div class="">
        <span class="inputName">Monitoring account token</span>
        <div class="standart-input"></div>
    </div>
    <div class="">
        <span class="inputName">Monitoring account token</span>
        <div class="standart-input"></div>
    </div>
    <div class="">
        <span class="inputName">Monitoring account token</span>
        <div class="standart-input"></div>
    </div>
    <div class="">
        <span class="inputName">Monitoring account token</span>
        <div class="standart-input"></div>
    </div>
    <div class="">
        <span class="inputName">Monitoring account token</span>
        <div class="standart-input"></div>
    </div>
    <div class="">
        <span class="inputName">Monitoring account token</span>
        <div class="standart-input"></div>
    </div>
</div>