.login{
    align-self: center;
    justify-self: center;

    background-color: #222222;
    border-radius: 20px;
    padding: 40px 75px;

    display: grid;
    row-gap: 40px;
}

.logo{
    height: 88px;
    justify-self: center;
    transition: .3s;
}

.logo:hover{
    transform: scale(1.1);
}

button{
    width: 250px;
    font-size: 18px;
}
