.window{
    padding: 40px 50px;
    grid-template-rows: auto 1fr;
    row-gap: 20px;
}

.discord-info{
    display: grid;
    row-gap: 10px;
    font-size: 18px;

    justify-self: center;
}

.discord-info>*{
    justify-self: center;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #aaaaaa;
}

.input-block{
    display: grid;
    grid-template-columns: 220px 1fr 1fr;
    column-gap: 10px;
    align-self: start;
}

.input-block .inputName{
    grid-column: 1/4;
}

input, button{
    font-size: 14px;
    font-weight: 300;
}